<h2>All Applications</h2>

<% @applications.each do |application| %>
  <h3><%= link_to "#{application.name}", "/admin/applications/#{application.id}" %></h3>
  <p>&emsp;City: <%= application.city %></p>
  <p>&emsp;Status: <%= application.status %></p>
  <p>&emsp;# Pets on Application: (<%= application.count_pets %>)</p><br/>

<% end %>
